**ðŸ§  LEVEL 1: Basic for Loop Practice**
> âœ… Print numbers 1 to 100

> âœ… Print even numbers between 1 and 50

> âœ… Print sum of first 20 numbers

> âœ… Print the table of a numbe
- Input: 5 â†’ Output: 5 10 15 ... 50

> âœ… Print reverse numbers from 20 to 1

> âœ… Print every letter in a word
- Input: "Devson" â†’ Output: D e v s o n

In [1]:
# print numbers 1 to 100

for num in range(1,101):
    print(num)
    num +=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# print even numbers between 1 and 50
num = 0
for num in range(1,51):
    if num %2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
# print sum of first 20 numbers

for i in range(1,21):
    sum = i+i
print(sum)

40

In [32]:
# Print the table of a number
# input: 5 -> output: 5 10 15 ... 50

num = int(input("Enter Number for multiplication: "))

for i in range(1,11):
    table = i*num
    print(f"{num} x {i} = {table}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [7]:
# Print reverse numbers from 20 to 1

for num in range(1,21):
    num = num
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# Print every letter in a word
# - Input: "Devson" â†’ Output: D e v s o n

name = input("Enter Your Name: ")

for l in name:
    print(l, end = '')
    print(l, end = ' ')
    print(l, end = '-')
    print(l, end = '/')